*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.logo{
    text-align: center;
    margin-top: 5px;
}
.signin{
   width: 296px;
   height: 240;
   padding: 20px 26px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   border: 1px solid #ddd;
   border-radius: 4px;
   margin: 20px auto 25px auto;
} 

.signin h1{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
} 
.signin label{
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    margin-top: 10px;
}
.signin input{
    width: 272px;
    padding: 3px 7px;
    margin-top: 3px;
    background-color: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 6px;
}

#button{
    width: 288px;
    height: 31px;
    margin-top: 15px;
    background-color: #f0c14b;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    background-image: linear-gradient(#f7da90,#e2b33b);
    border-radius: 8px;
}
 

.signin p,.signin p a {
    font-size: 12px;
    line-height: 1.5;
    text-decoration: none;
}
.signin p a{
    color: #0066c0;
    font-size: 12px;
}
.signin span a{
    text-decoration: none;
    font-size: 14px;
    color: #0066c0;
 }

.signin .p3 {
    font-size: 13px;
    font-weight: 700;
}
.signin .p3 a{
    font-size: 13px;
    font-weight: 400;
}
.buy{
    border-top: 1px solid #a6a6a6;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*new amazon*/
.newaccount{
    text-align: center;
    position: relative;
     margin-bottom: 14px;
     border-bottom: 1px solid #a6a6a6;
    

}
.s2{
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}
.b2{
    width: 290px;
    height: 30px;
    background-color: transparent;
    border-radius: 8px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 20px;
    }

.foot{
    height: 80px;
    text-align: center;
}    
.foot a{
       margin-left: 10px;
        justify-content: space-evenly;
        color: #0066c0;
        text-decoration: none;
        font-size: 11px;
        margin-top: 10px;
}

.foot p{
    margin-top: 10px;
    font-size: 11px;
}
/*password page ka hai*/
 form>a{
    text-decoration: none;
    font-size: 13px;
    margin-left: 115px;
 }
 #mein{
    display: flex;
 }
